@import url(https://fonts.googleapis.com/css?family=Hind); /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile); /*--- Heading Font --*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: rgba(134, 155, 165, 0.5);
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    position: relative;
}
h2{
   
    text-align: center;
    text-transform: uppercase;
     /*font-family: 'Nobile', sans-serif;
    font-size: 175%;
    color: #3c3636;  
    letter-spacing: 3p
    padding: 3% 0;*/
}
h3{
    font-family: 'Nobile', sans-serif;
    text-align: center;
    color: #3c3636;
    text-transform: uppercase;
    letter-spacing: 1%;
}
p{
    padding: 2%;
    color: #3c3636;
    text-align: justify;
}
img{
    max-width: 100%;
    height: auto;
}
#banner-wrapper{
    max-width: 100%;
    margin: 0 auto;
}


/*--Start Image Slider Style--*/
.slider{
    width: 100%
}
.slider1 img{
    background-color: #C8CDCF;
    margin: 0 auto;
}
.slider .bx-wrapper .bx-controls-direction a{
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    height: 71px;
    width: 40px;
    z-index: -1;
    transition: all 0.7s;
}
.slider .bx-wrapper:hover .bx-controls-direction a{
    z-index: 5;
}
.slider .bx-wrapper .bx-prev{
    background: #000 url(../img/left-arrow-white.png) no-repeat 8px 13px;
    margin-left: 0px;
    opacity: 0.5;
}
.slider .bx-wrapper .bx-prev:hover{
    opacity: 0.8;
}
.slider .bx-wrapper .bx-next{
    background: #000 url(../img/right-arrow-white.png) no-repeat 10px 12px;
    margin-right: 0px;
    opacity: 0.5;
}
.slider .bx-wrapper .bx-next:hover{
    opacity: 0.8;
}
/*--End Image Slider Style--*/

.clearfix{
    clear: both;
}
/*--Start Parallax Style--*/
.parallax-1{
    background: url("../img/IMG_109384.jpg") fixed 100%;
    text-align: center;
}
.parallax-inner{
    padding-top: 30px;
    padding-bottom: 300px;
}
.parallax-2{
    background: url("../img/sand-984081_1920.jpg")fixed 100%;
    text-align: center;
}
.parallax-inner h3, .parallax-inner p{
    color: azure;
    
}
/*--End Parallax Style--*/

footer{
    background: #323c44 ;
    width: 100%;
    padding: 1% 0;
    overflow: auto;
}
footer p{
    color:white;
    text-align: center;
}
.one-half{
    width: 44%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
}
.one-third{
    width: 28%;
    float:left;
    margin: 2% 0 3% 4%;
}
.left-col{
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
}
.sidebar{
    width: 26%;
    float: right;
    margin: 4%;
}
.logo img {
    max-height: 60px;
    width: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.slider1>li>img{

    max-width: 1000px;
}



.img-circle {
    height: 200px;
    width: auto;
  border-radius: 50%;
}

img .portfolio{
    max-height: 371px;
    max-width:  500px;
}



.row{
    background-color: #b4c1c7;
    margin-top: 100px;
    margin-bottom: -250px;
    
}
.section-heading{
    color:midnightblue;
}
#tel, #email{
    color: midnightblue;
    text-align: center;
    text-decoration: none;

}
#about{
    margin-top: 50px;
}
.about{
    padding: 4%;
    
    margin-bottom: -600px;

}



/*--MEDIA QUERIES--*/
@media screen and (max-width: 768px){
    .slider .bx-wrapper .bx-controls{
        display:none;
    }
    /*.parallax-inner{
        display: none;
    }*/
    .one-third{
        width:100%;
        margin: 4% 0;
    }
    .one-half{
        display:none;
    }
    h1{
        font-size: 125%;
    }
    .left-col{
        width: 100%;
        margin: 0 0 3% 0;
    }
    .slidebar{
        width: 100%;
        margin: 0;
    }
    img{
        width: 100%;
    }
    .slider1>li>img{
         width: 100%;
    }
    h3{
        padding-top: 3%;
    }
    .email
    {
        text-align: center;
    }
}
s